@tailwind base;
@tailwind components;
@tailwind utilities;


.tonjibg {
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1D1C18;
}

.hero-title {
    color: #fff;
    font-size: 390.33px;
    line-height: 476.2px;
    letter-spacing: 27.323px;
    margin-bottom: 0;
}

.hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: -150px;
}

.hero-image {
    height: 559px;
    width: 537.36px;
    transform: scaleX(-1);
}

.hero-button {
    position: absolute;
    bottom: 190px;
    right: -140px;
    padding: 10px 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.tondog {
    border-radius: 203px 0 203px 0;
    max-width: 100%;
    height: auto;
}

.tondogCon {
    position: relative;
    border-radius: 203.33px 0 203.33px 0;
    background: rgba(0, 0, 0, 0.16); /* Slight transparency */
    
    /* Inner shadow for the forward tip */
    box-shadow: inset -10px -10px 50px rgba(0, 0, 0, 0.8); /* More pronounced shadow */
    
    /* Gradient dark overlay on the forward tip */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 203.33px 0 203.33px 0;
        background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
        pointer-events: none;
    }

    /* Border with gradient effect */
    
    border-image: linear-gradient(90deg, #000000 0%, #4B4B4B 100%);
    border-image-slice: 1;
}

/* Small Screen Adjustments */
@media (max-width: 640px) {
    .hero-title {
        font-size: 156.239px;
        line-height: normal;
        font-weight: 400;
        letter-spacing: 10.937px;
        margin-bottom: 60px;
        margin-top: 60px;

    }

    .hero-image-container {
        flex-direction: column;
    }

    .hero-image {

        height: 381.179px;
        width: 366.609px;
        margin-bottom: 10px;
    }

    .hero-button {
        position: relative;
        /* Makes the button follow the normal flow */
        bottom: auto;
        /* Removes bottom positioning */
        /* top: auto; */
        /* Removes top positioning */
        right: auto;
        /* Resets right positioning */
        transform: none;
        /* Resets transform */
        order: -1;
        /* Ensures the button comes before the image */
        margin-top: 150px;
        margin-bottom: 50px;
        /* Adds spacing between the button and image */
        padding: 16px, 18px, 16px, 18px;
        height: 48px;
        width: 211px;
        gap: 10px;
    }


    .tondog {
        border-radius: 112px 0 112px 0;
        max-width: 100%;
        height: auto;
    }
    
    .tondogCon {
        position: relative;
        border-radius: 112px 0 112px 0;
        background: rgba(0, 0, 0, 0.16); /* Slight transparency */
        
        /* Inner shadow for the forward tip */
        box-shadow: inset -10px -10px 50px rgba(0, 0, 0, 0.8); /* More pronounced shadow */
        
        /* Gradient dark overlay on the forward tip */
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 112px 0 112px 0;
            background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
            pointer-events: none;
        }
    
        /* Border with gradient effect */
        
        border-image: linear-gradient(90deg, #000000 0%, #4B4B4B 100%);
        border-image-slice: 1;
    }
}