@tailwind base;
@tailwind components;
@tailwind utilities;


.tonjibg {
    background-image: url("assets/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #1D1C18;
}

.hero-title {
    color: #fff;
    font-size: 390.33px;
    line-height: 476.2px;
    letter-spacing: 27.323px;

}

.hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.hero-image {
    height: 559px;
    width: 537.36px;
    transform: scaleX(-1);
}

.hero-button {
    position: absolute;
    bottom: 190px;
    right: -140px;
    padding: 10px 50px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}

.tondog {
    border-radius: 203px 0 203px 0;
   

}

.tondogCon {
    height: 497.15px;
    padding: 341.01px 378.16px 142.96px 259.33px;
    gap: 0px;
    border-radius: 203.33px, 0px, 203.33px, 0px;
    border: 1px 0px 0px 0px solid rgb(228, 30, 30);
    opacity: 0px;
    background: #00000029;
    background-blend-mode: overlay;
    box-shadow: 90px 30px 44px 0px #0000002B inset;

}

/* .tondog {

    border-radius: 203.33px, 0px, 203.33px, 0px;
    border: 1px 0px 0px 0px solid rgb(228, 30, 30);
    opacity: 0px;
    border: 1px solid;
    border-image-source: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, #4B4B4B, #4B4B4B);
    box-shadow: 90px 30px 44px 0px rgba(0, 0, 0, 0.17) inset;

}

.tondogCon {
    height: 497.15px;
} */


/* Small Screen Adjustments */
@media (max-width: 640px) {
    .hero-title {
        font-size: 156.239px;
        line-height: normal;
        font-weight: 400;
        letter-spacing: 10.937px;
        margin-bottom: 60px;
        margin-top: 60px;

    }

    .hero-image-container {
        flex-direction: column;
    }

    .hero-image {

        height: 381.179px;
        width: 366.609px;
        margin-bottom: 10px;
    }

    .hero-button {
        position: relative;
        /* Makes the button follow the normal flow */
        bottom: auto;
        /* Removes bottom positioning */
        top: auto;
        /* Removes top positioning */
        right: auto;
        /* Resets right positioning */
        transform: none;
        /* Resets transform */
        order: -1;
        /* Ensures the button comes before the image */
        margin-bottom: 30px;
        /* Adds spacing between the button and image */
        padding: 16px 18px;
        width: 211px;
        gap: 10px;
    }

    .tondog {
        border-radius: 112px 0 112px 0;

    }
}